.html{
  width: 100vw;
  height: 100vh;
}

.body__container {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #3d3a4b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  z-index: 0;
  -webkit-box-shadow: 0px 19px 21px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 19px 21px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 19px 21px -16px rgba(0, 0, 0, 0.75);
}

.header__element {
  padding: 0.8rem;
}

.header__search{
  width: 200px;
  padding: 0.5rem;
  outline: none;
  border-radius: 20px;
  border: 1px solid #4ea2fe;
  background-color: #3d3a4b;
  color: #ccc;
}

.lateralBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  background-color: #3d3a4b;
  height: 100%;
  width: 15%;
  padding: 0 1rem;
}

.lateralBar__element {
  width: 100%;
  transition: all 500ms;
  padding: 0.5rem 0;
}

.lateralBar__element a{
  text-decoration: none;
  color: #ccc;
}

.lateralBar__element a:hover {
  color: #4ea2fe;
}

.main {
  display: flex;
  height: 90%;
  width: 100%;
}

/*Styles form*/
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 2rem 2rem;
  padding: 2rem 2rem;
  background-color: #524f5f;
  border-radius: 1rem;
}

.newClient__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 80%;
}

.nonNewClient__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__main__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 90%;
}

.input__container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.data__input__container{
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr;
}


.form__submit__container{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40%;
}

.form__submit__container input{
  width: 100%;
}

.form__element__container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.form__titles{
  align-self: center;
  text-align: center;
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  color: #ccc;
}

.form__element__container input[type="select"],
.form__element__container select,
.form__element__container input[type="number"],
.form__element__container input[type="text"],
.btn,
.textarea{
  width: 100%;
  height: 60%;
  margin-top: 0.3rem;
  padding: 0.5rem;
  border-radius: 14px;
}

.form__element__container label{
  height: 40%;
}

.form__element__container input[type='checkbox']{
  width: 10%;
}

.textarea{
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.5rem;
  border-radius: 14px;
}

.newSelector__container{
  height: 10%;
  width: 100%;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn{
  width: 80%;
  padding: 0.5rem 0.2rem;
  transition: all 300ms;
}

.btn:hover{
  cursor: pointer;
  width: 76%;
  background-color: #4ea2fe;
  color: #ccc;
}